.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  max-width: 1400px;
  margin: 0 auto;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;

  a {
    color: #333;
  }

  .active a {
    color: #1890ff;
  }
}